# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media/
staticfiles/

# macOS
.DS_Store

# PyCharm
.idea/

# Virtual Environment
venv/
env/
.env/
.env

# PostgreSQL
*.sql
*.postgresql

# Docker
docker-compose.override.yml